@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2')
      format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff')
      format('woff');
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.reset-css {
  *,
  *:before,
  *:after {
    box-sizing: inherit !important;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
  }

  ol,
  ul {
    list-style: none !important;
  }

  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.click {
  cursor: pointer;
}

.exercise-editor {
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}
